\bin
\x64
*.vcxproj.user
\.vs

src/native/external/lunasvg/build/
src/native/external/assimp/ALL_BUILD.vcxproj
src/native/external/assimp/ALL_BUILD.vcxproj.filters
src/native/external/assimp/Assimp.sln
src/native/external/assimp/CMakeCache.txt
src/native/external/assimp/CMakeFiles/
src/native/external/assimp/INSTALL.vcxproj
src/native/external/assimp/INSTALL.vcxproj.filters
src/native/external/assimp/UpdateAssimpLibsDebugSymbolsAndDLLs.vcxproj
src/native/external/assimp/UpdateAssimpLibsDebugSymbolsAndDLLs.vcxproj.filters
src/native/external/assimp/ZERO_CHECK.vcxproj
src/native/external/assimp/ZERO_CHECK.vcxproj.filters
src/native/external/assimp/assimp.pc
src/native/external/assimp/cmake_install.cmake
src/native/external/assimp/cmake_uninstall.cmake
src/native/external/assimp/code/CMakeFiles/
src/native/external/assimp/code/INSTALL.vcxproj
src/native/external/assimp/code/INSTALL.vcxproj.filters
src/native/external/assimp/code/assimp.dir/
src/native/external/assimp/code/assimp.vcxproj
src/native/external/assimp/code/assimp.vcxproj.filters
src/native/external/assimp/code/cmake_install.cmake
src/native/external/assimp/contrib/zlib/ALL_BUILD.vcxproj
src/native/external/assimp/contrib/zlib/ALL_BUILD.vcxproj.filters
src/native/external/assimp/contrib/zlib/CMakeFiles/
src/native/external/assimp/contrib/zlib/CTestTestfile.cmake
src/native/external/assimp/contrib/zlib/Debug/
src/native/external/assimp/contrib/zlib/INSTALL.vcxproj
src/native/external/assimp/contrib/zlib/INSTALL.vcxproj.filters
src/native/external/assimp/contrib/zlib/Release/
src/native/external/assimp/contrib/zlib/cmake_install.cmake
src/native/external/assimp/contrib/zlib/zconf.h
src/native/external/assimp/contrib/zlib/zlib.pc
src/native/external/assimp/contrib/zlib/zlib.sln
src/native/external/assimp/contrib/zlib/zlibstatic.dir/
src/native/external/assimp/contrib/zlib/zlibstatic.vcxproj
src/native/external/assimp/contrib/zlib/zlibstatic.vcxproj.filters
src/native/external/assimp/generated/
src/native/external/assimp/include/assimp/config.h
src/native/external/assimp/lib/
src/native/external/assimp/revision.h
src/native/external/assimp/test/CMakeFiles/
src/native/external/assimp/test/INSTALL.vcxproj
src/native/external/assimp/test/INSTALL.vcxproj.filters
src/native/external/assimp/test/cmake_install.cmake
src/native/external/assimp/test/headercheck/CMakeFiles/
src/native/external/assimp/test/headercheck/INSTALL.vcxproj
src/native/external/assimp/test/headercheck/INSTALL.vcxproj.filters
src/native/external/assimp/test/headercheck/cmake_install.cmake
src/native/external/assimp/test/unit.dir/
src/native/external/assimp/test/unit.vcxproj
src/native/external/assimp/test/unit.vcxproj.filters
src/native/external/assimp/uninstall.vcxproj
src/native/external/assimp/uninstall.vcxproj.filters